<!DOCTYPE html>
//Nim4 Karimi - Debug mode v0.2.1
html(lang="fa" dir="rtl")
    head
        //**Meta**
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        title هیروتک
        //**CSS**
        //- link(rel="stylesheet", href="css/materialize.rtl.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        //Start
        //**Navbar**
        .navbar-fixed
            nav(role="navigation")
                .nav-wrapper.blue
                    a(href="#")
                        img.brand-logo.right(src="http://via.placeholder.com/80x80", alt="")

                        


        //**heading**
        .container-fluid(class="gray lighten-3")
            .row
                div(class="col s12 m8 l6 xl6 red")
                    h1(class="animated fadeIn flow-text center-align" id="headText") خدمات نوین کامپیوتری
                    p(class="center-align") پیشرفت و موفقیت ‌کسب‌وکار شما , با کمک تجربه و روش های نوین دیجیتالی ما



                div(class="col s12 m4 l6 xl6")
                    


    
        //**Script Indeside body 3 tab**
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="js/materialize.rtl.min.js")